{% extends "base.html" %} {% block content %}
<div>
  <div class="carousel w-full">
    {% for item in carousel %}
    <div id="slide" class="carousel-item relative w-full">
      <img
        src="{{item.banner.url}}"
        class="w-screen h-[70svh] sm:h-[60svh] md:h-[90svh] lg:h-[85svh] object-cover"
        alt="{{item.title}}"
      />
      <div
        class="absolute inset-0 flex flex-col justify-center items-center w-full h-full bg-black/40 p-6"
      >
        <div class="text-neutral-content">
          <div class="max-w-md">
            <h1
              class="mb-5 text-2xl sm:text-3xl md:text-3xl lg:text-3xl font-bold"
            >
              {{item.title}}
            </h1>
            <p class="mb-5">{{item.description|truncatewords:40}}</p>
            <a href="{% url 'blog_detail' item.pk %}" class="btn btn-primary">
              <p>Read More</p>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  />
                </svg>
              </span>
            </a>
          </div>
        </div>

        <div>
          <div
            class="absolute left-5 right-5 top-1/2 hidden sm:flex md:flex lg:flex -translate-y-1/2 transform justify-between"
          >
            <button class="btn btn-circle">❮</button>
            <button class="btn btn-circle">❯</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="mt-6">{% include "blog/partials/blog_list.html" %}</div>
</div>
{% endblock %}
