<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="{% static 'js/carousel.js' %}" differ></script>
    <title>My Blog</title>
  </head>
  <body class="w-screen overflow-x-hidden min-h-screen flex flex-col">
    <div>{% include "includes/navbar.html" %}</div>
    <main class="grid place-items-center flex-grow">
      {% block content %}{% endblock %}
    </main>
    <div class="flex-none">{% include "includes/footer.html" %}</div>
  </body>
</html>
